* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#highscores-btn {
    color: rgb(174, 43, 183);
}

body {
    background-color: blueviolet;
}

#home {
        background-color: white;
        width: 60%;
        margin: 50px auto;
        padding: 40px;
}

#home h1 {
    margin-bottom: 15px;
    text-align: center;
    padding: 0px 30px;
}

#home p {
    margin: 0px 40px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
}

.start-btn {
    background-color: rgb(28, 0, 128);
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    margin: 0px 300px;
}

.start-btn:hover {
    background: rgb(174, 43, 183);
    color: white;
}

