* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

header {
    background-color: aquamarine;
    padding: 10px 0;
    text-align: center;
}

.high-scores {
    color: rgb(174, 43, 183);
    position: absolute;
    top: 10px;
    left: 10px;
}

.time {
    color: rgb(174, 43, 183);
    position: absolute;
    top: 10px;
    right: 10px;
}

.home {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-page h1 {
    margin-bottom: 15px;
    text-align: center;
}

.home-page p {
    text-align: center;
    margin-bottom: 30px;
}

.start-btn {
    background-color: rgb(28, 0, 128);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.start-btn:hover {
    background: rgb(174, 43, 183);
    color: white;
}

.quiz {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
}

.quiz h2 {
    margin-bottom: 15px;
    text-align: center;
}

.answer-btns {
    display: grid;
    padding-right: 140px;
}

#choices {
    background-color: rgb(28, 0, 128);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin-bottom: 10px;
}

#choices:hover {
    background: rgb(174, 43, 183);
    color: white;
}

.feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid rgb(201, 193, 193);
}

.feedback.correct {
    color: green;
}

.feedback.wrong {
    color: red;
}

.end {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
}

.end h2 {
    margin-bottom: 15px;
    text-align: center;
}

.end p {
    text-align: center;
    margin-bottom: 30px;
}

.end-btn {
    background-color: rgb(28, 0, 128);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.end-btn:hover {
    background: rgb(174, 43, 183);
    color: white;
}